[Unit]
Description=Named network namespace %I
After=syslog.target network.target netns-veth@%i.service
Before=%i.service
BindsTo=netns-veth@%i.service

[Service]
Type=oneshot
RemainAfterExit=true

# Create system process
ExecStartPre=-/usr/bin/env ip link add bridge-%i type bridge
ExecStartPre=-/usr/bin/env ip link add veth-%i type veth peer name veth-%i-br
ExecStartPre=-/usr/bin/env ip link set veth-%i netns %i
ExecStartPre=-/usr/bin/env ip link set veth-%i-br master bridge-%i
ExecStartPre=-/usr/bin/env sysctl -w net.ipv4.ip_forward=1

# Pivot link
ExecStart=/usr/bin/env ip -n %i link set veth-%i up
ExecStart=/usr/bin/env ip link set veth-%i-br up
ExecStart=/usr/bin/env ip link set bridge-%i up
ExecStart=-/usr/bin/env ip netns exec %i ip link set lo up
#ExecStart=-/usr/bin/env ip netns exec %i ip link set dev mv0 up

# add addresses to the two interfaces, and route from veth to host
ExecStart=/usr/bin/env ip -n %i addr add {{ veth_ip }}/{{ veth_netmask }} dev veth-%i
ExecStart=/usr/bin/env ip addr add {{ veth_gateway }}/{{ veth_netmask }} dev bridge-%i
ExecStart=/usr/bin/env ip -n %i route add default via {{ veth_gateway }} dev veth-%i

# setup forwarding and masquerading rules
ExecStart=/usr/bin/env iptables -t nat -I POSTROUTING -s {{ veth_subnet }} ! -o bridge-%i -j MASQUERADE
ExecStart=/usr/bin/env iptables -I FORWARD -s {{ veth_subnet }} -i bridge-%i -j ACCEPT

# bring up interfaces
#ExecStart=-/usr/bin/env if [[ -e "/usr/local/bin/ns-%i" ]]; then bash /usr/local/bin/ns-%i start; fi

# delete forwarding and masquerading rules
ExecStop=/usr/bin/env iptables -t nat -D POSTROUTING -s {{ veth_subnet }} ! -o bridge-%i -j MASQUERADE
ExecStop=/usr/bin/env iptables -D FORWARD -s {{ veth_subnet }} -i bridge-%i -j ACCEPT

ExecStop=/usr/bin/env ip -n %i addr del {{ veth_ip }}/{{ veth_netmask }} dev veth-%i
ExecStop=/usr/bin/env ip addr del {{ veth_gateway }}/{{ veth_netmask }} dev bridge-%i
ExecStop=/usr/bin/env ip -n %i route del default via {{ veth_gateway }} dev veth-%i

# bring down interfaces
#ExecStop=/usr/bin/env if [[ -e "/usr/local/bin/ns-%i" ]]; then bash /usr/local/bin/ns-%i stop; fi
ExecStop=/usr/bin/env ip link set bridge-%i down
ExecStop=/usr/bin/env ip link set veth-%i-br down
ExecStop=/usr/bin/env ip -n %i link set veth-%i down
ExecStop=-/usr/bin/env ip link del bridge-%i type bridge
ExecStop=-/usr/bin/env ip link del veth-%i-br

[Install]
WantedBy=multi-user.target
WantedBy=network-online.target